# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env
.venv
env.bak/
venv.bak/

# Flask
instance/
.webassets-cache

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo